body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    position: relative;
    top: 100;

    
}

.container {
    display:grid;
    justify-content: center;
    align-items: center;

}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    /* max-width: 1440px; */
    width: 375px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .25);
    border-radius: 15px;
    height: auto;
    grid-template-rows: 3fr .5fr .75fr;
    row-gap: 10px;

}

.img {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.img img {
    max-width: 330px;
    border-radius: 10px;
}

.name {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center !important;
    font-weight: 700;
    padding-left: 55px;
    padding-right: 35px;

}

.desc {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding-left: 55px;
    padding-right: 50px;

}